{% include 'partials/_header.twig' %}
{% include 'partials/_nav.twig' %}
{% include 'partials/_carousel.twig' %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8  p-0 video-featured-entry">
            {% set videoEntries = craft.entries().section('blog').limit(1) %}
            {% for entry in videoEntries %}
                <div class="index-card p-5">
                    {% set categories = entry.category %}
                    {% if categories|length %}
                        {% for rel in categories %}
                            <a class="index-card-cat"> {{ rel.title }}</a>
                        {% endfor %}
                    {% endif %}
                    <h1 class="text-center"><a href="{{ entry.url }}">Hello</a></h1>
                    <div class="index-card-auth">by {{ entry.author }} on {{ entry.postDate|date }}</div>
                    <hr>
                    <a class="index-card-cta" href="{{ entry.url }}">
                        <ion-icon name="book"></ion-icon>
                        Read article</a>
                    <div class="index-card-socials">
                        <a href="https://www.facebook.com/TakeACloserLookMinistries1/" target="_blank">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                        <a href="https://twitter.com/share?url=https://takeacloserlookministries.com/video-test/&text=Video%20Test" target="_blank">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                        <a href="https://www.pinterest.com/pin/create/button/?url=https://takeacloserlookministries.com/video-test/&media=&description=Video%20Test" target="_blank">
                            <ion-icon name="logo-pinterest"></ion-icon>
                        </a>
                        <a href="mailto:?subject=I wanted to share this post with you from Take A Closer Look Ministries &amp;body=Video Test    https://takeacloserlookministries.com/video-test/" title="Email to a friend/colleague">
                            <ion-icon name="mail"></ion-icon>
                        </a>
                        <a href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Ftakeacloserlookministries.com%2Fvideo-test%2F" target="_blank">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </div>
                </div>
            {% endfor %}
            {# <div class="col-12 col-lg-8 bg-light p-0 my-5"> #}
            <div class="col-12  p-0 my-5">

                <!-- REST OF THE ARTICLES -->
                <div class="container-fluid p-0">
                    <div class="row">
                        {% set Entries = craft.entries().section('blog') %}
                        {% for entry in Entries %}
                            <div class="col-12 col-xl-6">
                                <div class="index-card">
                                    {% set images = entry.pageEntyImage %}
                                    <a href="{{ entry.url }}">
                                        {% for img in images %}
                                            <img class="img-fluid" src="{{ img.getUrl() }}" alt="">
                                        {% endfor %}

                                        <div class="index-card-text-container">
                                            <!-- Category -->
                                            {% set categories = entry.category %}
                                            {% if categories|length %}
                                                {% for rel in categories %}
                                                    <a class="index-card-cat"> {{ rel.title }}</a>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- Title -->
                                            <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>

                                            <!-- Author -->
                                            <div class="index-card-auth">by {{ entry.author }}
                                                on {{ entry.postDate|date }}</div>
                                            <div class="index-card-content">
                                                {{ entry.pageContent|striptags|truncate(100) }}
                                            </div>
                                            <a class="index-card-cta" href="{{ entry.url }}">
                                                <ion-icon name="book"></ion-icon>
                                                Read article</a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        {% block main %}

        {% endblock %}
        {% include 'components/_sidebar.twig' %}
    </div>
</div>

{% include 'partials/_footer.twig' %}
