<div class="container-fluid my-5 " id="recent-posts">

    <div class="recent-posts-container border-shadow row">

        <!-- SEARCH FORM -->
        <div class="col-12 pt-3">
            <form action="{{ url('search/results') }}">
                <div class="input-group">
                    <input class="form-control" type="search" name="q" aria-label="Search" placeholder="Search">
                    <button type="submit">Go</button>
                </div>
            </form>
        </div>


        <!-- POSTS -->
        <div class="col-12 py-4">
            <div class="sidebar-title"><span class="gold-line"></span>recent posts<span class="gold-line"></span>
            </div>
            {% set entries = craft.entries().limit(4) %}
            <ul>
                {% for entry in entries %}
                    <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                {% endfor %}
            </ul>

        </div>

        <!-- RECENT COMMENTS -->
        <div class="col-12 py-4">
            <div class="sidebar-title"><span class="gold-line"></span>recent comments<span class="gold-line"></span>
            </div>
        </div>

        <!-- Categories -->
        <div class="col-12 py-2">
            <div class="sidebar-title"><span class="gold-line"></span>Categories<span class="gold-line"></span>
            </div>
            {% set myCategoryQuery = craft.categories() %}
            {% if myCategoryQuery|length %}
                <ul>
                    {% for rel in myCategoryQuery %}
                        <li><a href="{{ rel.url }}">{{ rel.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Follow SOCIALS -->
        <div class="col-12">
            <div class="sidebar-title"><span class="gold-line"></span>follow us<span class="gold-line"></span></div>
            <div class="socials">
                <a href="https://www.facebook.com/TakeACloserLookMinistries1/" target="_blank">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="mailto:?subject=I wanted to share this post with you from Take A Closer Look Ministries &amp;body=Video Test    https://takeacloserlookministries.com/video-test/" title="Email to a friend/colleague">
                    <ion-icon name="mail"></ion-icon>
                </a>
                <a href="https://m.youtube.com/channel/UCRCsP7R_HPvW8cG0rSMYvYg" target="_blank">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
                <a href="https://www.instagram.com/ryan.cataldo.3/" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </div>

        </div>
    </div>

</div>